:root {
    --background: white;
    --background-secondary: lightgray;
    --background-trinary: gray;

    --text: black;
    --text-secondary: lightgray;
}

[data-theme="dark"] {
    --background: rgb(41, 41, 41);
    --background-secondary: black;
    --background-trinary: rgb(35, 35, 35);

    --text: rgb(165, 165, 165);
    --text-secondary: rgb(104, 104, 104);
}

body {
    display: grid;

    grid-template-columns: 1fr 7fr;

    width: 100vw;
    height: 100vh;

    position: absolute;

    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    background-color: var(--background);
    color: var(--text);
}

#fs {
    grid-column: 1;
    
    border-right: var(--text) solid 1px;

    height: 100%;
    
    margin-left: 10px;
}

#note {
    grid-column: 2;

    max-height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 0;
    padding: 0;

    padding-left: 10px;
}

body[data-showpreview="false"] #note {
    grid-template-columns: 1fr;
}

#note > * {
    padding-top: 10px;
}

#edit {
    border: none;
    border-right: 1px solid var(--text);

    background-color: var(--background);
    color: var(--text);

    resize: none;
}

body[data-showpreview="false"] #edit {
    border-right: none;
}

#edit:focus {
    outline: none;
}

#preview {
    margin-left: 5px;
}

body[data-showpreview="false"] #preview {
    display: none;
}

#preview > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

.file, .folderName {
    width: fit-content;

    padding-left: 2px;
    padding-right: 2px;

    margin-top: 5px;
}

.file {
    background-color: var(--background);
    color: var(--text);

    border: none;

    cursor: pointer;

    border-radius: 5px;
}

.file:hover, .folderName:hover {
    background-color: var(--background-secondary);
}

.otherFile {
    color: var(--text-secondary);
}

.selected {
    background-color: var(--background-secondary);
}

#prefrences {
    width: 80%;
    height: 85%;

    background-color: var(--background);
    border-color: var(--background-secondary);
    color: var(--text);

}

#theme {
    background-color: var(--background);
    border-color: var(--background-secondary);
    color: var(--text);
}

#actions > * {
    background-color: var(--background-secondary);
}