body {
    display: grid;

    grid-template-columns: 1fr 7fr;

    width: 100vw;
    height: 100vh;

    position: absolute;

    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
}

#fs {
    grid-column: 1;
    
    border-right: black solid 1px;

    height: 100%;
    
    margin-left: 10px;
}



#note {
    grid-column: 2;

    max-height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 0;
    padding: 0;

    padding-left: 10px;
    padding-top: 10px;
}

#edit {
    border: none;
    border-right: 1px solid black;

    resize: none;
}

#edit:focus {
    outline: none;
}

.file, .folderName {
    width: fit-content;

    padding-left: 2px;
    padding-right: 2px;

    margin-top: 5px;
}

.file {
    background-color: white;
    border: none;

    cursor: pointer;

    border-radius: 5px;
}

.file:hover, .folderName:hover {
    background-color: lightgray;
}

.otherFile {
    color: gray;
}

.selected {
    background-color: lightgray;
}